<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:image:src"
		content="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/images/index-meta.png">
	<meta property="og:image"
		content="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/images/index-meta.png">
	<meta name="twitter:title" content="Tweet-Analyzer">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<link rel="shortcut icon"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/img/favicon.ico"
		type="image/x-icon">
	<meta name="description"
		content="A Real time web application to view the sentiments of tweets made for brands by the users of X (Twitter). Analyze how much your favorite companies are admired by the world.">
	<title>Tweet-Analyzer</title>
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/css/fontawesome.min.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/font-awesome-solid/css/solid.min.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/web/assets/mobirise-icons2/mobirise2.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/bootstrap/css/bootstrap-grid.min.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/bootstrap/css/bootstrap-reboot.min.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/animatecss/animate.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/dropdown/css/style.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/socicon/css/styles.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/theme/css/style.css">
	<link rel="preload"
		href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
		as="style" onload="this.onload=null;this.rel='stylesheet'"> <noscript>
		<link rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
	</noscript>
	<link rel="preload" as="style"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/mobirise/css/mbr-additional.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/mobirise/css/mbr-additional.css"
		type="text/css">
	<!-- <script async src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
	<script async src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script async src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
	<script>

		function getGraphArea() {
			return document.querySelector("#bar-graph");
		}

		function renderGraphOfAll()
		{
			getGraphArea.innerHTML = "Fetching graph of all brands together ...";
			fetch('/get-graph-of-all' , {method : 'GET'})
			.then(response => { 
				if(!response.ok) throw new Error("Something went wrong while rendering the graph!");
				return response.json();
			})
			.then(jsondata => { jsondata = JSON.parse(jsondata) ; Plotly.newPlot( "bar-graph" , jsondata.data , jsondata.layout ) } )
			.catch(error => { getGraphArea.innerHTML = "An unknown error occured :<br>" + error})
		}

		function updateGraph(__brand_name)
		{
			var bar_graph_area = getGraphArea();

			bar_graph_area.innerHTML = `Fetching data for '${__brand_name}'...`;

			fetch(`/get-graph/${__brand_name}`, {method : 'GET'})

			    .then(response => {
					if(!response.ok){
						throw new Error("Something went wrong with the response!");
					}
					return response.json();
			   } )

			   .then(jsondata => {

				    const {response_status , graph} = jsondata;

					if(response_status === 200){
						bar_graph_area.innerHTML = "";
						parsed_graph = JSON.parse(graph);
						Plotly.newPlot("bar-graph" , parsed_graph.data , parsed_graph.layout);
					}
					else{
						bar_graph_area.innerHTML = `We do not provide data for ${__brand_name}.`;
					}
			   } )

				.catch(error => {
				    bar_graph_area.innerHTML = "An unknown error occurred :<br>" + error;							   
				} 
			);
		}

		window.onload = renderGraphOfAll;
		
	</script>
</head>
<body>
	<section data-bs-version="5.1" class="menu menu2 cid-tJS6tZXiPa" once="menu" id="menu02-0">
		<nav class="navbar navbar-dropdown navbar-expand-lg">
			<div class="container">
				<div class="navbar-brand"> <span class="navbar-logo"> <img
							src="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/images/rounded-corner-logo-108x108.webp"
							alt="logo" style="height: 3.4rem;"> </span> <span class="navbar-caption-wrap"><a
							class="navbar-caption text-primary display-4"
							href="index.html#header05-1">Tweet-Analyzer</a> </span> </div> <button
					class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
					data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<div class="hamburger"> <span></span> <span></span> <span></span> <span></span> </div>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
						<li class="nav-item"> <a class="nav-link link text-primary display-4"
								href="https://sakshamjoshi.vercel.app/" target="_blank">Saksham Joshi</a> </li>
					</ul>
					<div class="icons-menu"> <a class="iconfont-wrapper" href="index.html#header01-7"> <span
								class="p-2 mbr-iconfont mbrib-info"></span> </a> <a class="iconfont-wrapper"
							href="mailto:social.sakshamjoshi@gmail.com"> <span
								class="p-2 mbr-iconfont mobi-mbri-letter mobi-mbri"></span> </a> <a
							class="iconfont-wrapper" href="https://github.com/saksham-joshi/Tweet-Analyzer"
							target="_blank"> <span class="p-2 mbr-iconfont mbrib-github"></span> </a> <a
							class="iconfont-wrapper" href="https://x.com/sakshamjoshi27" target="_blank"> <span
								class="p-2 mbr-iconfont socicon-twitter socicon"></span> </a> </div>
				</div>
			</div>
		</nav>
	</section>
	<section data-bs-version="5.1" class="header5 cid-tJS6uM4N87" id="header05-1">
		<div class="topbg"></div>
		<div class="align-center container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-9">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-1"><strong>Tweet-Analyzer</strong></h1>
					<p class="mbr-text mbr-fonts-style mb-4 display-7">A Real-time application to analyze sentiment of
						tweets made for the brands by the users of X.</p>
				</div>
			</div>
			<!-- <div class="row mt-5 justify-content-center"> </div> -->
		</div>
	</section>
	<section data-bs-version="5.1" class="features4 cid-tMlEXTHLbS" id="features04-w">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 content-head">
					<div class="mbr-section-head mb-5">
						<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
							<div onload="renderGraphOfAll()" id="bar-graph" class="js-plotly-plot">  </div>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-bs-version="5.1" class="article16 cid-uzLBuBKe5H" id="article16-1l">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-7">
					<div class="mbr-section-btn align-center">
						<button onclick="renderGraphOfAll()"       class="btn btn-primary-outline display-4" href="">ALL</button>
						<button onclick="updateGraph('amazon')"    class="btn btn-primary-outline display-4" href="">Amazon</button> 
						<button onclick="updateGraph('apple')"     class="btn btn-primary-outline display-4" href="">Apple</button>
						<button onclick="updateGraph('google')"    class="btn btn-primary-outline display-4" href="">Google</button>
						<button onclick="updateGraph('meta')"      class="btn btn-primary-outline display-4" href="">Meta</button>
						<button onclick="updateGraph('microsoft')" class="btn btn-primary-outline display-4" href="">Microsoft</button>
						<button onclick="updateGraph('netflix')"   class="btn btn-primary-outline display-4" href="">Netflix</button>
						<button onclick="updateGraph('nvidia')"    class="btn btn-primary-outline display-4" href="">Nvidia</button>
						<button onclick="updateGraph('tesla')"     class="btn btn-primary-outline display-4" href="">Tesla</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-bs-version="5.1" class="features15 cid-tLek7gQhG7" id="features015-m">
		<div class="container">
			<div class="mbr-section-head mb-5">
				<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"> <strong>Why this?</strong>
				</h4>
			</div>
			<div class="row justify-content-center">
				<div class="item features-without-image col-12 col-lg-4">
					<div class="item-wrapper">
						<div class="img-wrapper"> <img
								src="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/images/free-3d-text-effect-788564-11-179x179.webp"
								alt="3d-text-effect"> </div>
						<div class="card-box">
							<h4 class="card-title mbr-fonts-style mb-3 display-5"> <strong>Free</strong> </h4>
							<h5 class="card-text mbr-fonts-style display-7">Provides free and open source API developed
								in python3. You can customize the API as per your will.</h5>
						</div>
					</div>
				</div>
				<div class="item features-without-image col-12 col-lg-4">
					<div class="item-wrapper">
						<div class="img-wrapper"> <img
								src="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/images/easy-13-01-2025-179x179.webp"
								alt="easy--"> </div>
						<div class="card-box">
							<h4 class="card-title mbr-fonts-style mb-3 display-5"> <strong>Easy</strong> </h4>
							<h5 class="card-text mbr-fonts-style display-7"> Easy to implement in your website or
								application without any hassle. Visit GitHub from the link given below.<br><br></h5>
						</div>
					</div>
				</div>
				<div class="item features-without-image col-12 col-lg-4">
					<div class="item-wrapper">
						<div class="img-wrapper"> <img
								src="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/images/fast-13-01-2025-179x179.webp"
								alt="fast--"> </div>
						<div class="card-box">
							<h4 class="card-title mbr-fonts-style mb-3 display-5"> <strong>Fast &amp; Accurate</strong>
							</h4>
							<h5 class="card-text mbr-fonts-style display-7"> The data is rendered through high speed
								pipeline in real time while maintaining insane accuracy.</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-bs-version="5.1" class="features10 cid-uzKFPgpGIB" id="features010-1k">
		<div class="container">
			<div class="row">
				<div class="item features-without-image col-12 col-md-6 col-lg-6">
					<div class="item-wrapper">
						<div class="card-box align-left">
							<div class="iconfont-wrapper mb-3"> <span class="mbr-iconfont fas fa-people-group"></span>
							</div>
							<h5 class="card-title mbr-fonts-style display-5"><strong><span style="font-weight: bold;"
										id="total-website-visitors"> {{total_website_visitors | safe}}</span></strong>
							</h5>
							<p class="card-text mbr-fonts-style mb-3 display-7"><strong> Total website visitors</strong>
							</p>
						</div>
					</div>
				</div>
				<div class="item features-without-image col-12 col-md-6 col-lg-6">
					<div class="item-wrapper">
						<div class="card-box align-left">
							<div class="iconfont-wrapper mb-3"> <span
									class="mbr-iconfont fas fa-arrows-down-to-line"></span> </div>
							<h5 class="card-title mbr-fonts-style display-5"><strong><span style="font-weight: bold;"
										id="total-data-fetches">{{total_data_fetches | safe}}</span></strong></h5>
							<p class="card-text mbr-fonts-style mb-3 display-7"><strong> Total data fetches</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-bs-version="5.1" class="header1 cid-tJS9vXDdRK" id="header01-7">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-12 col-lg-7 image-wrapper"> <img class="w-100"
						src="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/images/1727459251384-1-1476x1968.webp"
						alt="picture--"> </div>
				<div class="col-12 col-lg col-md-12">
					<div class="text-wrapper align-left">
						<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>Developer Info</strong>
						</h1>
						<p class="mbr-text mbr-fonts-style mb-4 display-7">🔗Email: <a
								href="mailto:social.sakshamjoshi@gmail.com"
								class="text-primary">social.sakshamjoshi@gmail.com</a> <br>🔗LinkedIn: <a
								href="https://www.linkedin.com/in/sakshamjoshi27/" class="text-primary"
								target="_blank">linkedin.com/in/sakshamjoshi27</a>&nbsp;<br>🔗GitHub: <a
								href="https://github.com/saksham-joshi/" class="text-primary"
								target="_blank">github.com/saksham-joshi</a><br> </p>
						<div class="mbr-section-btn mt-3"><a class="btn btn-primary display-7"
								href="https://sakshamjoshi.vercel.app/" target="_blank">Portfolio</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-bs-version="5.1" class="footer1 programm5 cid-tJS9NNcTLZ" once="footers" id="footer03-8">
		<div class="container">
			<!-- <div class="row"> <div class="row-links mb-4" mbr-if="menuItems > 0"> <ul class="header-menu" mbr-list mbr-list-grow="menuItems"> <li mbr-text class="header-menu-item mbr-fonts-style" mbr-theme-style="display-5" data-app-selector="header-menu-item"></li> <li mbr-text class="header-menu-item mbr-fonts-style" mbr-theme-style="display-5" data-app-selector="header-menu-item"></li> <li mbr-text class="header-menu-item mbr-fonts-style" mbr-theme-style="display-5" data-app-selector="header-menu-item"></li> <li mbr-text class="header-menu-item mbr-fonts-style" mbr-theme-style="display-5" data-app-selector="header-menu-item"></li> </ul> </div> -->
			<div class="col-12">
				<div class="social-row">
					<div class="soc-item"> <a href="https://www.linkedin.com/in/sakshamjoshi27/" target="_blank"> <span
								class="mbr-iconfont display-7 socicon-linkedin socicon"></span> </a> </div>
					<div class="soc-item"> <a href="https://x.com/sakshamjoshi27" target="_blank"> <span
								class="mbr-iconfont socicon-twitter socicon"></span> </a> </div>
					<div class="soc-item"> <a href="https://www.instagram.com/sakshamjoshi27/" target="_blank"> <span
								class="mbr-iconfont socicon-instagram socicon"></span> </a> </div>
					<div class="soc-item"> <a href="mailto:social.sakshamjoshi@gmail.com"> <span
								class="mbr-iconfont socicon-mail socicon"></span> </a> </div>
					<div class="soc-item"> <a href="https://github.com/saksham-joshi/" target="_blank"> <span
								class="mbr-iconfont mbrib-github"></span> </a> </div>
				</div>
			</div>
			<div class="col-12 mt-5">
				<p class="mbr-fonts-style copyright display-7"> © Copyright 2025&nbsp;<strong>Saksham Joshi</strong>-
					All Rights Reserved </p>
			</div>
		</div>
	</section>
	<script async
		src="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script async
		src="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/smoothscroll/smooth-scroll.js"></script>
	<script async
		src="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/ytplayer/index.js"></script>
	<script async
		src="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/dropdown/js/navbar-dropdown.js"></script>
	<script async
		src="https://cdn.jsdelivr.net/gh/saksham-joshi/Tweet-Analyzer@main/Tweet_Visualizer/static/assets/theme/js/script.js"></script>
	<input name="animation" type="hidden">
</body>

</html>